<h1>Vending Machine Owners</h1>


  <% @owners.each do |owner| %>
    <h3><%= owner.name %></h3>
    <% owner.machines.each do |machine| %>
      <%= link_to "#{machine.location}", "/machines/#{machine.id}" %><br>
    <% end %>
    <hr>
  <% end %>
